

.container-fluid{
  width: 30%;
  height: 5%;
}
img{
  width: 100%;
}

.container{
  margin-top: 1%;
  background-color: rgba(63, 190, 179, 0.356);
  border-radius: 5px;
  width: 30%;

}

h1{
  text-align: center;
  color: black;
  font-family: tahoma;
  font-size: 50px;

}

#registerbtn{
  width: 100%;
  font-size: 30px;
}
