

nav h1{
  color: rgba(4, 150, 130, 0.61);
  font-family: tahoma;
}

#inputMessage{
  margin-top: 60%;
margin-bottom: 10%;
}

#mainPageMessages{
  border-left: 2px solid black;
  height: 70%;
  width: 100%;
background-color: aliceblue;
  overflow-y: auto;
border-radius: 10px;
}


#messages{
  font-family: tahoma;

}
