

<nav class="navbar navbar-light bg-light">
    <h1><strong>Angular Chat</strong></h1>
  </nav>

  <hr>




  <div class="container">

    <h1>Hey {{username}}</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <h5>online users</h5>
            <table>
              <thead>

              </thead>
            </table>
          </div>

      <div id="mainPageMessages" class="col-md-8">

          <div *ngFor="let item of allMessages">
            <h5 id="messages">: {{item}}</h5>
             <hr>
            </div>
  <div>

      <input id="inputMessage"  maxlength="100" (keydown)="sendMessage($event)"  class="form-control" [(ngModel)]="messegeContent" name="messegeContent" type="text" placeholder="write message here..">
  </div>

      </div>




    </div>


  </div>

  <hr>




