


#inputMessage{

  margin-top: 10%;
margin-bottom: 10%;
}

#mainPageMessages{

    height: 400px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    overflow-y: auto;
    border-radius: 10px;
}


#messages{
  font-family: tahoma;

}


#chooseUsername{
  margin: 0 5% 5% 0;
}
