

<nav class="navbar navbar-light bg-light">
  <h1><strong>Angular Chat</strong></h1>
</nav>

<hr>


<div class="container">

  <h2>Hey {{username}}</h2>

  <div class="row">
    <div id="mainPageMessages" class="col-md-8">
        <div *ngFor="let item of allMessages">
           : {{item}}
          </div>

          <input (keydown)="sendMessage($event)"  class="form-control" [(ngModel)]="messegeContent" name="messegeContent" type="text" placeholder="write message here..">

    </div>

    <div class="col-md-4">
      <h5>online users</h5>
    </div>


  </div>


</div>




